{% extends "page.html" %}

{% block title %}Attributions{% endblock %}

{% block titleShort %}Attrs{% endblock %}

{% block pageDesc %}Attributions for the site.{% endblock %}

{% block bodyId %}attrs{% endblock %}

{% block content -%}
<h1>Attributions</h1>
<div class="attributions-list">
    {% for category, items in attributions.items() %}
    <div class="attribution-category">
        <h2>{{ category }}</h2>
        {% for item in items %}
        <div class="attribution-item">
            <h3><a href="{{ item.link }}" target="_blank">{{ item.title }}</a></h3>
            <details>
                <summary>{{ item.filePath }}</summary>
                <div>
                    <a href="{{ item.filePath }}" target="_blank">Open File</a>
                    <hr/>
                    <pre style="text-wrap: auto;">{{ item.content|e }}</pre>
                </div>
            </details>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{%- endblock %}
